@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

:root{
    --bluish-color: #0891B2;
    --grayish-color: #5c5b5b;
    --play-fair: "Playfair Display";
    --roboto: "Roboto";
}

body {
    position: relative;
    margin: 0;
    padding: 0%;
    height: 100vh;
    background-color: white; /* Default background color */
    display: flex;
    flex-direction: column;
}

button{
    border: none;
    background-color: white;
}

button:hover{
    cursor: pointer;
}

.corner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Width of the colored corner */
    height: 400px; /* Height of the colored corner */
    background-color: var(--bluish-color); /* Corner background color */
    clip-path: polygon(0 0, 140% 0, 0 100%);
    z-index: -1;
}

header{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
    margin: 20px;
    
}

.header-image-container{
    position: relative;
    

}

.header-image{
    max-width: 250px;
    height: auto;
}

.name-container{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: left;
    color: white;
    font-family: var(--play-fair);
    font-size: 32px;
    font-weight: bold;
}

.about-me-container{
    display: flex;
    flex-direction: column;
}

.about-me{
    font-family: var(--play-fair);
    align-self: center;
    font-weight: normal;
}

.about-me-para{
    align-self: center;
    font-family: var(--roboto);
    color: var(--grayish-color);
}

div > svg{
    width: 24px;
    height: 24px;
}

.header-icons-container{
    display: flex;
    justify-content: center;
}

main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    margin: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.my-work-title{
    font-family: var(--play-fair);
    font-weight: normal;
    text-align: center;
}

.works-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 50px;
}

.work-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr 4fr;
    box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.2), /* bottom shadow */
                5px 0px 5px -3px rgba(0,0,0,0.2), /* right shadow */
                -5px 0px 5px -3px rgba(0,0,0,0.2); /* left shadow */
}

.work-image{
    width: 100%;
    
}

.project-info-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
}

.project-name-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
}

.project-name{
    font-family: var(--play-fair);
    font-weight: normal;
    font-size: 16px;
}

.project-name{
    font-size: 20px;
}

.work-icons-container{
    display: flex;
}

.works-icons{
    width: 22px;
    height: 22px;
    display: flex;
}

.project-explanation{
    font-size: 18px;
}

.works-icons{
    width: 18px;
    height: 18px;
}

.project-explanation{
   font-family: var(--roboto);
   font-size: 14px; 
   color: var(--grayish-color);
   max-width: 80%;
   word-wrap: break-word;
   padding-left: 8px;
   padding-bottom: 3px;
}

footer *{
    margin: 0;
}

footer{
    background-color: var(--bluish-color);
    display: flex;
    flex-direction: column;
    color: white;
    gap: 50px;
    padding-top: 20px;
}

.footer-first-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-me-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-icons-container{
    display: flex;
    justify-content: center;
}

.footer-icons{
    width: 28px;
    height: 28px;
    background-color: var(--bluish-color);
}

.footer-buttons{
    background-color: var(--bluish-color);
}

.footer-image{
    max-width: 100%;
    height: auto;
    display: block;
    padding: 0;
    margin: 0;
}

.contact-me-title{
    font-family: var(--play-fair);
    font-weight: normal;
    text-align: center;
}

.contact-me-explanation{
    font-family: var(--roboto);
    padding-left: 10px;
}

.address-container{
    font-family: var(--roboto);
    padding: 10px;
    font-size: 14px;
}

.gmail-number-container{
    font-family: var(--roboto);
    padding: 10px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.gmail-para{
    padding-left: 5px;
}

@media (min-width: 470px){
    .project-name{
        font-size: 20px;
    }

    .works-icons{
        width: 22px;
        height: 22px;
    }

    .project-explanation{
        font-size: 18px;
    }
}

@media (min-width: 480px){
    header{
        display: inline-block;
        background-color: white;
        box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.2), /* bottom shadow */
        5px 0px 5px -3px rgba(0,0,0,0.2), /* right shadow */
        -5px 0px 5px -3px rgba(0,0,0,0.2); /* left shadow */
        margin-top: 100px;
        margin-left: 10%;
        margin-right: 10%;
        padding-right: 0%;
    }

    .header-image-container{
        max-width: 200px;
        height: auto;
        float: left;
        margin-right: 1rem;
        top: -2rem;
        left: -1rem;
    }

    .header-image{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .name-container{
        position: absolute;
        width: 250px;
        top: +1px; /* Move the name slightly above the image container */
        left: +280px; /* Move the name slightly to the right of the image container */
        font-size: 20px;
    }

    .about-me-full-container{
        max-width: 500px;
        height: 500px;
        max-width: 600px;
        box-shadow: 4px 4px 8px var(--shadows);
        background-color: white;
        border-radius: 2px;
        padding: 0.5rem;
        margin: 0 auto;
        
    }
    
    .about-me-para{
        height: 100%;
        line-height: 1.6;
    }

    .header-icons-container{
        display: none;
    }

    .works-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        gap: 50px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .project-name{
        font-size: 16px;
    }

    .works-icons{
        width: 18px;
        height: 18px;
    }

    .project-explanation{
        font-size: 14px;
    }

    .work-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 4fr;
    }

    
    
    .my-work-title{
        text-align: left;
        padding-left: 5%;
    }

    footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        place-items: center;
    
    }

    .footer-first-container{
        padding-bottom: 50px;
        padding: 20px;
        padding-left: 10%;
    }

    .footer-first-container *{
        padding: 0%;
    }

    .contact-me-title{
        text-align: left;
    }

    .footer-image-container{
        padding: 20px;
    }

    .footer-image{
        width: 300px;
    }

    .footer-icons-container{
        display: flex;
        gap: 5px;
        justify-content: left;
    }
    
}

@media (min-width: 600px){
    .header-image-container{
        max-width: 1000px;
        height: auto;
    }

    .name-container{
        left: +320px; /* Move the name slightly to the right of the image container */

    }
}

@media (min-width: 1025px){ 

    header{
        display: flex;
        background-color: transparent;
        box-shadow: none;
        margin-top: 100px;
        margin-left: 10%;
        margin-right: 10%;
        padding-right: 0%;
        justify-content: center;
    }

    .header-image-container{
        position: relative;
        max-width: 400px;
        height: auto;
        float: none;
        margin-right: 0%;
        top: 0%;
        left: 0%;
    }

    .header-image{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .name-container{
        position: absolute;
        top: auto;
        bottom: 3px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        color: white;
        font-family: var(--play-fair);
        font-size: 24px;
        font-weight: normal;
        width: 250px;
        
    }

    .about-me-full-container{

        display: flex;
        flex-direction: column;
        flex: 1;
        height: auto;
        min-width: 600px;
        box-shadow: 4px 4px 8px var(--shadows);
        background-color: white;
        border-radius: 2px;
        padding: 0.5rem;
        margin: 0;
        
    }

    .about-me-para{
        flex: 1;
    }

    .header-icons-container{
        display: flex;
        justify-content: right;

    }

    .works-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }


}